### Part 2 - Merging the data with their location data

* Merging the previous data with their location data i.e. their latitude and longitude values.
* Importing the location data using the IBM's import data feature.

In [1]:
# The code was removed by Watson Studio for sharing.

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [2]:
geo_csv.shape

(103, 3)

#### Importing the previously created cleaned data

In [3]:
df = pd.read_csv("Toronto_data.csv")
df.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

#### Merging the data on the Postcode foreign key

In [4]:
df_toronto = pd.merge(left = df, right = geo_csv, on = 'Postcode')
df_toronto.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Port Union, Rouge Hill",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [ ]:
# Final count of rows and columns after merigng the location data with Toronto d

In [5]:
df_toronto.shape

(103, 5)

In [6]:
df_toronto.to_csv("df_toronto.csv", index = False)